.login-form {
  .login-section {
    background: #ffffff;
    position: absolute;
    top: 30%;
  }

  .login-fieldset {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }

  .form-control {
    margin-bottom: 10px;
  }

  .login-btn {
    width: 100%;
  }
}