.navbar {
  .btn-outline {
    margin-left: 10px;
  }
  
  .btn-edit-user {
    a {
      color: rgba(0, 0, 0, 0.5);
      &:active, &:hover {
        color: rgba(0, 0, 0, 1.0);
        text-decoration: none;
      }
    }

    @include media-breakpoint-down(md) {
      padding-left: 0;
      margin-left: 0;
      padding-bottom: 20px;
    }
  }
  
  .btn-log-in {
    border: 1px solid #000000;
    background-color: #f8f9fa;
    &:active, &:hover {
      background-color: #e8e9eb;
      border: 1px solid #000000;
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  
  .btn-label {
    color: #81868f;
    &:active, &:hover {
      text-decoration: none;
      color: #81868f;
    }
  }
  
  .btn-sign-up {
    border: none;
    background-color: #dc5c58;
    &:active, &:hover {
      background-color: #992337
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }
  
  .btn-sign-up-out-label {
    color: #ffffff;
    &:active, &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .form-inline {
    display: table-caption;
  }
}